/node_modules
/public/hot
/public/storage
/storage
/vendor
/resources/sass/a2b-rx-da5086605672.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images
/public/agreements
/public/feedb
/public/imports
/public/libs
package-lock.json	
.DS_Store
public/01.pdf
public/DS2.pdf
